<ng-template [ngIf]="step == 0">
  <h1>View Template</h1>

  <a (click)="edit()" color="warn" *ngIf="this.storeService.username == this.data.username && !canEidt" mat-button>
    <mat-icon class="icon-prefix">create</mat-icon>
    Edit
  </a>

  <div *ngIf="canEidt">
    <mat-form-field style="width: 100%">
      <input #templateNameInput [formControl]="templateName" matInput placeholder="Please Enter Your Template Name"/>
      <mat-hint *ngIf="!templateName.invalid && isDuplicate">Template Name already exists</mat-hint>
      <mat-hint *ngIf="!templateName.invalid && !isDuplicate">Template Name Can Apply</mat-hint>
    </mat-form-field>

    <li style="list-style-type:none;">
      <mat-checkbox [formControl]="patient" class="example-margin">Patient Info</mat-checkbox>
    </li>
    <li style="list-style-type:none;">
      <mat-checkbox [formControl]="observation" class="example-margin">Observation</mat-checkbox>
    </li>
    <li style="list-style-type:none;">
      <mat-checkbox [formControl]="medicationorder" class="example-margin">Medication Order</mat-checkbox>
    </li>
    <li style="list-style-type:none;">
      <mat-checkbox [formControl]="diagnosticreport" class="example-margin">Diagnostic Report</mat-checkbox>
    </li>
    <li style="list-style-type:none;">
      <mat-checkbox [formControl]="condition" class="example-margin">Condition</mat-checkbox>
    </li>
    <li style="list-style-type:none;">
      <mat-slide-toggle [formControl]="isPublic">isPublic</mat-slide-toggle>
    </li>
    <br>
    <div>
      <button (click)="back()" style="float: left" color="primary" mat-raised-button="">Back</button>
    </div>
    <div>
      <button (click)="save()" style="float: right" color="primary" mat-raised-button="">Save</button>
    </div>
    <br>
    <br>
    <br>
    <div>
      <button (click)="delete()" style="float: right" color="primary" mat-raised-button="">Delete</button>
    </div>
  </div>
  <br>


  <div *ngIf="!canEidt">
    <table class="table table-bordered table-hover">
      <tr>
        <th style="width: 30%; text-align: left">Template Name</th>
        <th style="width: 30%; text-align: left">Create User</th>
        <th style="width: 30%; text-align: left">Card Detail</th>
        <th *ngIf="this.storeService.username == this.data.username" style="width: 30%; text-align: left">IsPublic</th>
      </tr>
      <tr>
        <td>{{this.data.templateName}}</td>
        <td>{{this.data.username}}</td>
        <td>{{this.cardDetails}}</td>
        <td *ngIf="this.storeService.username == this.data.username">
          {{this.data.isPublic}}
        </td>
      </tr>
    </table>
    <div>
      <button (click)="next()" color="primary" mat-raised-button="">Next</button>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="step != 0">
  <div>
    <app-patient-info #patientInfo [isAddPatient]="false"></app-patient-info>
  </div>
  <div>
    <button (click)="runPatientInfo()" [disabled]="canFinish" color="primary" mat-raised-button="">Add</button>
  </div>
  <br>
  <div>
    <button (click)="addAllNotes()" [disabled]="!canFinish" color="primary" mat-raised-button="">finish</button>
  </div>
</ng-template>

