<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">person</mat-icon>
      <span>Patient Info</span>
    </ng-template>
    <app-patient-info [isAddPatient]="true">

    </app-patient-info>
  </mat-tab>

  <mat-tab [disabled] = "globaldataService.getPatient() == undefined" >
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">hourglass_empty</mat-icon>
      <span>Observation</span>
    </ng-template>
    <app-observation-info></app-observation-info>
  </mat-tab>
  <mat-tab [disabled] = "globaldataService.getPatient() == undefined" >
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">analytics</mat-icon>
      <span>Vital Signs</span>
    </ng-template>
    <app-vital-info></app-vital-info>
  </mat-tab>
  <mat-tab [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">bookmark_border</mat-icon>
      <span>Medication Order</span>
    </ng-template>
    <app-medication-info></app-medication-info>
  </mat-tab>

  <mat-tab [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">folder_open</mat-icon>
      <span>Diagnostic Report</span>
    </ng-template>
    <app-diagnosticreport-info></app-diagnosticreport-info>
  </mat-tab>

  <mat-tab [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">local_hospital</mat-icon>
      <span>Conditions</span>
    </ng-template>
    <app-conditions-info></app-conditions-info>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'Hapi'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">colorize</mat-icon>
      <span>Medication</span>
    </ng-template>
    <app-medication></app-medication>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'Hapi'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">not_interested</mat-icon>
      <span>AllergyIn Tolerance</span>
    </ng-template>
    <app-allergy></app-allergy>
  </mat-tab>



  <mat-tab *ngIf="globaldataService.getDataSource() == 'Hapi'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">folder_open</mat-icon>
      <span>Document Reference</span>
    </ng-template>
    <app-documentreference-info></app-documentreference-info>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'Hapi'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">assignment_ind</mat-icon>
      <span>Immunization</span>
    </ng-template>
    <app-immunization-info></app-immunization-info>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'Hapi'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">format_list_bulleted</mat-icon>
      <span>Procedure</span>
    </ng-template>
    <app-procedure-info></app-procedure-info>
  </mat-tab>

  <mat-tab [disabled] = "globaldataService.getPatient() == undefined || globaldataService.getDataSource() != 'temp'">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">create_new_folder</mat-icon>
      <span>Procedure Request</span>
    </ng-template>
    <app-procedurerequest-info></app-procedurerequest-info>
  </mat-tab>

  <mat-tab [disabled] = "globaldataService.getPatient() == undefined ">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">favorite</mat-icon>
      <span>Lab Test</span>
    </ng-template>
    <app-labtests></app-labtests>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'temp'" [disabled] = "globaldataService.getPatient() == undefined">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">visibility</mat-icon>
      <span>Visualization</span>
    </ng-template>
    <app-visualization-info></app-visualization-info>
  </mat-tab>

  <mat-tab *ngIf="globaldataService.getDataSource() == 'Id'" [disabled] = "globaldataService.getPatient() == undefined ">
    <ng-template mat-tab-label>
      <mat-icon class="icon-prefix">create_new_folder</mat-icon>
      <span>Lab Test Sparklines</span>
    </ng-template>
    <app-sparklines-info></app-sparklines-info>
  </mat-tab>


</mat-tab-group>

