<table style="width: 100%" *ngIf="hasSelect">
  <tr>
    <th style="width: 20%; text-align: left">Status</th>
    <th style="width: 40%; text-align: left">Vaccine</th>
    <th style="width: 25%; text-align: left">Date Time</th>
    <th style="width: 20%; text-align: left">Selected</th>
  </tr>
  <tr *ngFor="let immunization of immunizations">
    <td>{{immunization.status}}</td>
    <td>{{immunization.vaccine}}</td>
    <td>{{immunization.date | date:'short'}}</td>
    <td>
      <mat-checkbox [(ngModel)]="immunization.isSelected"></mat-checkbox>
    </td>
  </tr>

</table>

<table style="width: 100%" *ngIf="!hasSelect">
  <tr>
    <th style="width: 30%; text-align: left">Status</th>
    <th style="width: 30%; text-align: left">Vaccine</th>
    <th style="width: 30%; text-align: left">Date Time</th>
  </tr>
  <tr *ngFor="let immunization of immunizations">
    <td>{{immunization.status}}</td>
    <td>{{immunization.vaccine}}</td>
    <td>{{immunization.date | date:'short'}}</td>
  </tr>

</table>
