<table style="width: 100%">
  <tr>
    <td>ID</td>
    <td>{{patient.id || (patient[0] != undefined? patient[0].id : 'N/A')}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{patient.name || (patient[0] != undefined? patient[0].name : 'N/A')}}</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{patient.gender || (patient[0] != undefined? patient[0].gender : 'N/A')}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{patient.email || (patient[0] != undefined? patient[0].email : 'N/A')}}</td>
  </tr>
  <tr>
    <td>Birthday</td>
    <td>{{patient.birthDate || (patient[0] != undefined? patient[0].birthDate : 'N/A')}}</td>
  </tr>
</table>


