<div>
    <table style="width: 100%" *ngIf="hasSelect" >
      <tr>
        <th style="width: 55%; text-align: left">Field</th>
        <!--<th style="width: 30%; text-align: left">Value</th>-->
        <th style="width: 20%; text-align: left">Select</th>
      </tr>
  
  
      <tr *ngFor="let la of labs">
        <td>{{la.code}}</td>
        
        <td>
          <mat-checkbox [(ngModel)]="la.isSelected"></mat-checkbox>
          
        </td>
  
      </tr>
  <!--    <ng-container matColumnDef="Field">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Field </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.code}} ({{element.status}})</td>-->
  <!--    </ng-container>-->
  
  <!--    &lt;!&ndash; Name Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="Value">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Value </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.value}} {{element.unit}}</td>-->
  <!--    </ng-container>-->
  
  <!--    <ng-container matColumnDef="Select">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Select </th>-->
  <!--    <td mat-cell *matCellDef="let element"> <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox></td>-->
  <!--    </ng-container>-->
  
  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  
    </table>
  
  <!--  <mat-paginator *ngIf="hasSelect" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>-->
  </div>
  
  
  
  <!--<div>
    <table style="width: 100%" *ngIf="!hasSelect">
      <tr>
        <th style="width: 55%; text-align: left">Field</th>
        <th style="width: 30%; text-align: left">Value</th>
        <th style="width: 35%; text-align: left">Range</th>
        <th style="width: 45%; text-align: left">Graph</th>
      </tr>
  
      <tr *ngFor="let la of labs">
        <td>{{la.code}}</td>
        <td [ngClass]="{'redText': la.value < la.min || la.value > la.max}">{{la.values[0]}} {{la.unit}}</td>
        <td>
          <div style="width:100px; height:100px;" (click)="showRange(la.min, la.max, la.value, la.id, $event)"></div>
        </td>
      </tr>
  
    </table>
  </div>-->
  <div *ngIf="!hasSelect" >
    <div *ngFor="let la of labs">
        <table class="lab-table" style="width: 100%" *ngIf="la.hasText">
            <div class="lab-table-title">{{la.code}}</div>
            <tr>
              <th style="width: 55%; text-align: left">Result</th>
              <th style="width: 30%; text-align: left">Date</th>
            </tr>
        
            <tr *ngFor="let entry of chartOptionsDictionary[la.code].series[0].data">
              <td>{{entry.y}}</td>
              <td>{{entry.x}}</td>
            </tr>
            
          </table>
    </div>
    <div *ngFor="let la of labs">
      <apx-chart *ngIf="!la.hasText"
      [series]="chartOptionsDictionary[la.code].series"
      [chart]="chartOptionsDictionary[la.code].chart"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [xaxis]="{type: 'datetime'}"
      [markers]="chartOptions.markers"
      [annotations]="chartOptionsDictionary[la.code].annotations"
      [yaxis]="{tickAmount: 5,
        labels: {
          minWidth: 10
        },
        title: {
          text: la.unit
        }}
        "
      [title]="{text: la.code ,align: 'left', offsetY: 15}"
    >
    </apx-chart>
    </div>
    <!--<apx-chart *ngFor="let la of labs"
      [series]="getSeries(la)"
      [chart]="getChart(la)"
      [title]="la.code"
    >
    </apx-chart>-->
    <!--<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>-->
  </div>
  