.panel-title-container{
  border-right: #F0F0F0 1px solid;
  width: 200px;

  &.active {
    border-right: none;
    //border-top-left-radius: 0.5rem;
    //border-top-right-radius: 0.5rem;
    //border-top-bottom-radius: 0rem;
    //border-top-bottom-radius: 0rem;

    background: #F0F0F0;
  }
}

.panel-title {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  background: transparent;
  border: none;

}

.panel-title-close {
  cursor: pointer;
}

