<div style="width: 100%">
  <h1>Patient Info</h1>
  <app-datasourcechoice></app-datasourcechoice>

  <div>
    <mat-form-field style="width: 100%">
      <input #searchInput type="text" placeholder="search name..." matInput
             [value]="globaldataService.getPatient() == undefined? '' : globaldataService.getPatient().name"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let patient of patients" [value]="patient.name">
          <div>{{patient.name}} ({{patient.id}})</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div *ngIf="selectedPatient" style="margin-bottom: 1rem">
    <app-patient-info-show [patient]="selectedPatient"></app-patient-info-show>
  </div>

  <div *ngIf="isAddPatient">
    <button [disabled]="this.selectedPatient == null" mat-raised-button="" color="primary" (click)="addPatient()">Add</button>
  </div>
</div>
<div style="width: 100%">
  <h1>Search by Practicioner ID</h1>
  <div>
    <mat-form-field style="width: 100%">
      <input matInput #searchIdInput type="text" placeholder="search ID..." [value]="this.practitionerId">
    </mat-form-field>
    <!-- <mat-form-field style="width: 100%">
      <input #searchInputId type="number" placeholder="search ID..." matInput
             [value]="globaldataService.getPatient() == undefined? '' : globaldataService.getPatient().name"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let patient of patients" [value]="patient.name">
          <div>{{patient.name}} ({{patient.id}})</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
  </div>

  <div *ngIf="selectedPatient" style="margin-bottom: 1rem">
    <app-patient-info-show [patient]="selectedPatient"></app-patient-info-show>
  </div>

  <div *ngIf="isAddPatient">
    <button [disabled]="this.practitionerId == ''" mat-raised-button="" color="primary" (click)="searchPatients()">Search</button>
  </div>

  <div>
    <patient-list [patients]="patientList"></patient-list>
  </div>
</div>
