<div style="width: 100%">
    <h1>Patient Info</h1>
    <div class="info-item-main">
        <label>Name:</label>
        <span>{{this.data.name}}</span>
    </div>
    <div class="info-item-main">
        <label>Gender:</label>
        <span>{{this.data.gender}}</span>
    </div>
    <div class="info-item-main">
        <label>Date of birth:</label>
        <span>{{this.data.birthDate}}</span>
    </div>
    <div class="info-item-main">
        <label>Country:</label>
        <span>{{this.data.country}}</span>
    </div>
    <div class="info-item-main">
        <label>City:</label>
        <span>{{this.data.city}}</span>
    </div>
    <div class="info-item-main">
        <label>State:</label>
        <span>{{this.data.state}}</span>
    </div>
    <div class="info-item-main">
        <label>Postal code:</label>
        <span>{{this.data.postalCode}}</span>
    </div>
    <div class="info-item-main">
        <label>Phone:</label>
        <span>{{this.data.phone}}</span>
    </div>
</div>