<table style="width: 100%" *ngIf="hasSelect">
  <tr>
    <th style="width: 25%; text-align: left">Subject Name</th>
    <th style="width: 30%; text-align: left">Performer Name</th>
    <th style="width: 25%; text-align: left">Code</th>
    <th style="width: 45%; text-align: left">Issued Time</th>
    <th style="width: 20%; text-align: left">Selected</th>
  </tr>
  <tr *ngFor="let report of diagnosticReports">
    <td>{{report.subject_name}}</td>
    <td>{{report.performer_name}}</td>
    <td>{{report.code}}</td>
    <td>{{report.issuedTime | date:'short'}}</td>
    <td>
      <mat-checkbox [(ngModel)]="report.isSelected"></mat-checkbox>
    </td>
  </tr>

</table>

<table style="width: 100%" *ngIf="!hasSelect">
  <tr>
    <th style="width: 20%; text-align: left">Subject Name</th>
    <th style="width: 35%; text-align: left">Performer Name</th>
    <th style="width: 20%; text-align: left">Code</th>
    <th style="width: 40%; text-align: left">Issued Time</th>

  </tr>
  <tr class="p-3" *ngFor="let report of diagnosticReports">
    <td>{{report.subject_name}}</td>
    <td>{{report.performer_name}}</td>
    <td>{{report.code}}</td>
    <td>{{report.issuedTime | date:'short'}}</td>
  </tr>

</table>
