<div style="float: left">
<span class="panel-title-add-btn" (click) = "mySelect.open()">
  <mat-icon style="font-size: 1.25rem">add</mat-icon>
</span>
</div>
<span style="float: left; height: 30px; margin-top: -10px">
<mat-form-field style="visibility: hidden;">
  <mat-select [(ngModel)]="val"
    #mySelect>
    <mat-option value="option1" (click)="createNew()">create a new</mat-option>
    <mat-option value="option2" (click)="showInput()">create like before</mat-option>
  </mat-select>
</mat-form-field>
</span>

