.app-panel-container {
  background: #F0F0F0;
  height: 100%;
  width: 100%;
  position: relative;
  transition: 0.2s;
  overflow: scroll;
}

.app-panel-footer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

:host {
  height: 100%;
}
