<table style="width: 100%" *ngIf="hasSelect">
  <tr>
    <th style="width: 30%; text-align: left">Category</th>
    <th style="width: 30%; text-align: left">Allergic Substance</th>
    <th style="width: 30%; text-align: left">Reactions</th>
    <th style="width: 30%; text-align: left">Selected</th>
  </tr>
  <tr *ngFor="let allergy of allergyInTolerances">
    <td>{{allergy.category}}</td>
    <td>{{allergy.AllergicSubstance}}</td>
    <td>{{allergy.reaction}}</td>
    <td>
      <mat-checkbox [(ngModel)]="allergy.isSelected"></mat-checkbox>
    </td>
  </tr>

</table>

<table style="width: 100%" *ngIf="!hasSelect">
  <tr>
    <th style="width: 30%; text-align: left">Category</th>
    <th style="width: 30%; text-align: left">Allergic Substance</th>
    <th style="width: 30%; text-align: left">Reactions</th>
  </tr>
  <tr *ngFor="let allergy of allergyInTolerances">
    <td>{{allergy.category}}</td>
    <td>{{allergy.AllergicSubstance}}</td>
    <td>{{allergy.reaction}}</td>
  </tr>

</table>
