<table style="width: 100%" *ngIf="hasSelect">
  <tr>
    <!--<th style="width: 20%; text-align: left">Clinical Status</th>-->
    <th style="width: 40%; text-align: left">Document</th>
    <th style="width: 25%; text-align: left">Date Time</th>
    <th style="width: 20%; text-align: left">Selected</th>
  </tr>
  <tr *ngFor="let document of documentreferences">
    <!--<td>{{document.clinicalStatus}}</td>-->
    <td>{{document.category}}</td>
    <td>{{document.DateTime}}</td>
    <td>
      <mat-checkbox [(ngModel)]="document.isSelected"></mat-checkbox>
    </td>
  </tr>

</table>

<div style="width: 500px;" *ngIf="!hasSelect">
  <!--<tr>
    <th style="width: 30%; text-align: left">Clinical Status</th>
    <th style="width: 30%; text-align: left">Type</th>
    <th style="width: 30%; text-align: left">Date Time</th>
  </tr>-->
  <div *ngFor="let document of documentreferences" style="border-bottom: 2px solid black;">
    <pre>{{document.attachment}}</pre>
  </div>

</div>
