<div style="width: 100%">
  <h1>Lab Test Sparklines</h1>
  <div>
    <mat-form-field  style="width: 100%">
      <input #searchInput type="text" placeholder="search..."  matInput
             [value]="globaldataService.getPatient() == undefined? '' : globaldataService.getPatient().name"
             [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let patient of patients" [value]="patient.name" >
          <div>{{patient.name}} ({{patient.id}})</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <button (click)="search()"
            *ngIf="!hasSearch"
            [disabled]="globaldataService.getPatient() == undefined ||
            hasSearch"
            color="primary" mat-raised-button="">Search
    </button>

    <mat-progress-bar *ngIf="isWaiting" mode="indeterminate"></mat-progress-bar>
  </div>
  <br>

  <div>
    <button mat-raised-button="" color="primary"
            *ngIf="hasSearch && !isWaiting"
            [disabled]="!hasSearch" (click)="add()">Add</button>
  </div>

</div>
