<div>
    <table style="width: 100%" *ngIf="hasSelect" >
      <tr>
        <th style="width: 55%; text-align: left">Field</th>
        <!--<th style="width: 30%; text-align: left">Value</th>-->
        <th style="width: 20%; text-align: left">Select</th>
      </tr>
  
  
      <tr *ngFor="let vi of vitals">
        <td>{{vi.code}}</td>
        
        <td>
          <mat-checkbox [(ngModel)]="vi.isSelected"></mat-checkbox>
          
        </td>
  
      </tr>
  <!--    <ng-container matColumnDef="Field">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Field </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.code}} ({{element.status}})</td>-->
  <!--    </ng-container>-->
  
  <!--    &lt;!&ndash; Name Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="Value">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Value </th>-->
  <!--      <td mat-cell *matCellDef="let element"> {{element.value}} {{element.unit}}</td>-->
  <!--    </ng-container>-->
  
  <!--    <ng-container matColumnDef="Select">-->
  <!--      <th mat-header-cell *matHeaderCellDef> Select </th>-->
  <!--    <td mat-cell *matCellDef="let element"> <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox></td>-->
  <!--    </ng-container>-->
  
  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  
    </table>
  
  <!--  <mat-paginator *ngIf="hasSelect" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>-->
  </div>
  
  
  
  <!--<div>
    <table style="width: 100%" *ngIf="!hasSelect">
      <tr>
        <th style="width: 55%; text-align: left">Field</th>
        <th style="width: 30%; text-align: left">Value</th>
        <th style="width: 35%; text-align: left">Range</th>
        <th style="width: 45%; text-align: left">Graph</th>
      </tr>
  
      <tr *ngFor="let vi of vitals">
        <td>{{vi.code}}</td>
        <td [ngClass]="{'redText': vi.value < vi.min || vi.value > vi.max}">{{vi.values[0]}} {{vi.unit}}</td>
        <td>
          <div style="width:100px; height:100px;" (click)="showRange(vi.min, vi.max, vi.value, vi.id, $event)"></div>
        </td>
      </tr>
  
    </table>
  </div>-->
  <div *ngIf="!hasSelect" >
    <div *ngFor="let vi of vitals">
      <apx-chart
      [series]="chartOptionsDictionary[vi.code].series"
      [chart]="chartOptionsDictionary[vi.code].chart"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [xaxis]="{type: 'datetime'}"
      [markers]="chartOptions.markers"
      [yaxis]="chartOptions.yaxis"
      [title]="{text: vi.code ,align: 'left', offsetY: 15}"
    >
    </apx-chart>
    </div>
    <!--<apx-chart *ngFor="let vi of vitals"
      [series]="getSeries(vi)"
      [chart]="getChart(vi)"
      [title]="vi.code"
    >
    </apx-chart>-->
    <!--<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>-->
  </div>
  