<div>
  <table style="width: 100%" *ngIf="hasSelect" >
    <tr>
      <th style="width: 55%; text-align: left">Field</th>
      <th style="width: 30%; text-align: left">Value</th>
      <th style="width: 20%; text-align: left">Select</th>
    </tr>


    <tr *ngFor="let ob of observations">
      <td>{{ob.code}} ({{ob.status}})</td>
      <td>{{ob.value}} {{ob.unit}}</td>
      <td>
        <mat-checkbox [(ngModel)]="ob.isSelected"></mat-checkbox>
      </td>

    </tr>
<!--    <ng-container matColumnDef="Field">-->
<!--      <th mat-header-cell *matHeaderCellDef> Field </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.code}} ({{element.status}})</td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="Value">-->
<!--      <th mat-header-cell *matHeaderCellDef> Value </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.value}} {{element.unit}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Select">-->
<!--      <th mat-header-cell *matHeaderCellDef> Select </th>-->
<!--    <td mat-cell *matCellDef="let element"> <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox></td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

  </table>

<!--  <mat-paginator *ngIf="hasSelect" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>-->
</div>


<div>
  <table style="width: 100%" *ngIf="!hasSelect">
    <tr>
      <th style="width: 55%; text-align: left">Field</th>
      <th style="width: 30%; text-align: left">Value</th>
      <th style="width: 35%; text-align: left">Range</th>
      <th style="width: 45%; text-align: left">Graph</th>
    </tr>


    <tr *ngFor="let ob of observations">
      <td>{{ob.code}} ({{ob.status}})</td>
      <td [ngClass]="{'redText': ob.value < ob.min || ob.value > ob.max}">{{ob.value}} {{ob.unit}}</td>
      <td>{{ob.min}} - {{ob.max}}</td>
      <td>
        <div style="width:100px; height:100px;" (click)="showRange(ob.min, ob.max, ob.value, ob.id, $event)"></div>
      </td>
    </tr>

  </table>
</div>
